language: go

go:
 - 1.11

before_install:
  # Coverage tools
  - go get github.com/mattn/goveralls

install:
- go get -t -v ./...

# Unconditionally place the repo at GOPATH/src/${go_import_path} to support
# forks.
go_import_path: github.com/m-lab/alertmanager-github-receiver

script:
# Run unit tests.
- go test -covermode=count -coverprofile=coverage.cov -coverpkg=github.com/m-lab/alertmanager-github-receiver/... github.com/m-lab/alertmanager-github-receiver/...

# Coveralls
- $HOME/gopath/bin/goveralls -coverprofile=coverage.cov -service=travis-ci
